# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up uv (Python 3.10)
      uses: astral-sh/setup-uv@v6.6.0
      with:
        python-version: "3.10"
        activate-environment: true
        enable-cache: true

    - name: Install project deps
      run: uv pip install -e ".[dev]"

    - name: Run pre-commit
      run: uv run pre-commit run -a

    - name: Test with pytest
      run: uv run pytest
