# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv (Python 3.12)
      uses: astral-sh/setup-uv@v6.6.0
      with:
        python-version: "3.12"
        activate-environment: true
        enable-cache: true

    - name: Configure git to authenticate private repos
      env:
        GITHUB_TOKEN: ${{ secrets.ANNA_GITHUB_TOKEN }}
      run: git config --global url."https://${GITHUB_TOKEN}:x-oauth-basic@github.com".insteadOf "https://github.com"

    - name: Install project deps
      run: uv pip install -e .[dev]

    - name: Run pre-commit with prek
      run: uv run prek run -a

    - name: Test with pytest
      run: uv run pytest
